{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>GET_SHORTLISTED</title> 
    <meta name="google-signin-client_id" 
    content="658813541232-504am085lj6bgc0823h2oho9800mg00r.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href= "{% static 'styles/style.css' %}">
    
  </head>
  <body>
    {% block content %}
    {% endblock content %}
  </body>
  </html>
  